body {
    font-family: "Montserrat", sans-serif;  /*Remove when implement with the app*/
}

.side-menu {
    color: #FFFFFF;
    background-color: #515151;
    height: 100vh;
    width: 90%;
}

.about {
    font-size: 1.2rem;
}

hr {
    border-top: 1px solid #979797;
    width: 150px;
}

.menu-button {
    width: fit-content;
    color: #979797;
    background-color: #515151;
    font-size: 1rem;
}

.menu-button:focus {
    color: #2ECA70;
    outline: 0;
    font-weight: 700 !important;
}

.about-link, 
.about-link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.fa-bars {
    font-size: 2rem;
}

.close-button  {
    background-color: #515151;
}

.fa-times-circle{
    font-size: 2.8rem;
    color: #FFFFFF;
}

.close-button:focus {
    outline: 0;
}

.fa-times-circle:active {
    color: #2ECA70;
    
}
