body{
    font-family: 'Montserrat', sans-serif;    
}

.close {
    font-size: 70px;
    color: #575757;
    opacity: 1.0;
}

aside {
    margin-top: 20px;
}

.button {
    height: 21vh;
    width: 80%;
    background-color:#fff;
    border: 2px solid #fff;
    border-bottom: 2px solid #575757; 
    color: #575757;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.button:hover{
    border: 2px solid #575757;
    color: #212529;
}

.button:focus{
    color:#2ecc70;
}